<!--------------------------------------/-->
<!--Basic page layout/-->
<!--------------------------------------/-->

<!DOCTYPE html>
<html>
    <head>
         <link href="mastermind_stylesheet.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <h1 id="menu">Mastermind</h1>
        
        <!--------------------------------------/-->
        <!--Website Menu/-->
        <!--------------------------------------/-->

        <div><a class="menu" href="/">Home</a></div>
        <div><a class="menu" href="/start">Start</a></div>
        <div><a class="menu" href="/new">New</a></div>
        <div><a class="menu" href="/analysis">Analysis</a></div>
        
        <%=yield %>
        
    </body>
</html>