<br><br>

<p><%=$table%></p>
<p>There are <%=$turns_left%> turns left.</p>

<h2>Enter your guess</h2><br>
<form action="/new" method="post">
Guess:<input type="text" name="guess"><br>
<input type="submit" value="guess">
</form>