<!--------------------------------------/-->
<!--Index page of the wiki/-->
<!--------------------------------------/-->

<br>
<h2>Admin controls page</h2>
<br>

<a href="/useroptions">User Options</a><br>
<a href="/log">View Log</a><br>
<a href="/history">View History</a><br>
<a href="/reset_article">Reset Article</a><br>