
<h2>Change account details</h2><br>
<form action="/user/changeuser/:uzer" method="post">
    Username:<input type="text" name="namechange" value="<%=@changeuser%>"><br>
    Password:<input type="text" name="passchange" value="<%=@changepassword%>"><br>
    <input type="submit" value="Change">
</form>
