<!--------------------------------------/-->
<!--Creating an admin acount/-->
<!--------------------------------------/-->

<br><br>
<h2>Create Admin account</h2><br>
<form action="/createadminaccount" method="post">
    Username:<input type="text" name="username"><br>
    Password:<input type="password" name="password"><br>
    <input type="submit" value="Create!">
</form>
