<!--------------------------------------/-->
<!--Website home page/-->
<!--------------------------------------/-->

<p>Welcome to the Cine-Wiki! The Wiki for prospective filmmakers, that lists all types of shot compositions, camera movements, angles and even effects.</p>
<p>We hope that this site will be some use to you on your film studies. Please check out the Index to see the site map.</p>
