<!--------------------------------------/-->
<!--Index page of the wiki/-->
<!--------------------------------------/-->
<br>   
<h2>Index</h2>
<br>
<a href="/articles/shot_types">1. Camera Shots</a><br>
<a href="/articles/camera_angles">2. Camera Angles</a><br>
<a href="/articles/camera_movements">3. Camera Movements</a><br>
<a href="/articles/effects">4. Effects</a><br>
