<!--------------------------------------/-->
<!--Basic page layout/-->
<!--------------------------------------/-->

<!DOCTYPE html>
<html>
    <head>
         <link href="/stylesheet.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <h1 id="menu">Cine-Wiki</h1>
        
        <!--------------------------------------/-->
        <!--Website Menu/-->
        <!--------------------------------------/-->

        <div><a class="menu" href="/">Home</a></div>
        <div><a class="menu" href="/index">Index</a></div>
        <div><a class="menu" href="/about">About</a></div>

        <div id="login">
            <br>
            <% if $credentials %>
                <% if $credentials[0] != ' ' %>
                    Logged in as <br><a id="idname" href="/user/<%= $credentials[0] %>"><b><%= $credentials[0] %></b></a><br><br>
                    <a class="menu" href="/logout">Logout</a><br><br>
                    <% if authorized? %>
                        <br><a href="/admincontrols">Admin Controls</a><br>
                    <% end %>
                <% else %>
                    <a class="menu" href="/login">Login</a><br>
                <% end %>
            <% else %>
                <a class="menu" href="/login">Login</a><br>
            <% end %>
        </div>
        
        <%=yield %>
        

        
        
    </body>
</html>