<!--------------------------------------/-->
<!--Profile page of the wiki/-->
<!--------------------------------------/-->
        
<br><br>
<h2>User:</h2>
<br>
<% if @Userz %>
    <article>
        <h1>Account - <%= @Userz.username %></h1>
    </article>
<% end %>