<p>Which article would you like to reset?</p><br>
<a href="/articles/reset_shot_types">Shot Types</a><br>
<a href="/articles/reset_camera_angles">Camera Angles</a><br>
<a href="/articles/reset_camera_movements">Camera Movements</a><br>
<a href="/articles/reset_effects">Effects</a><br>