<!--------------------------------------/-->
<!--2. Camera Angles/-->
<!--------------------------------------/-->
<br>
<h3>2. Camera Angles</h3>

<img src="/images/shot_types/mask.png" /><br>

<p><%= @camera_angles %></p>

<p>Word count: <%=@camera_angles_words%></p>
<p>Character count: <%=@camera_angles_characters%></p>

<a href="/articles/camera_angles_edit">Edit this article</a>
