<!--------------------------------------/-->
<!--3. Camera Movements/-->
<!--------------------------------------/-->
<br>
<h3>3. Camera Movements</h3>

<img src="/images/shot_types/traveling.jpg" /><br>

<p><%=@camera_movements%></p>

<p>Word count: <%=@camera_movements_words%></p>
<p>Character count: <%=@camera_movements_characters%></p>

<a href="/articles/camera_movements_edit">Edit this article</a>