<!--------------------------------------/-->
<!--EDIT 3. Camera Movements/-->
<!--------------------------------------/-->

<br>
<p>Please be considerate when making edits.</p>

<br><br>
<h2>Edit article</h2><br>
 <form action="/articles/camera_movements_edit" method="post" id="edit">
 <input type="hidden" name="_method" value="put">
 <textarea rows="20" cols="90" name="message"><%=@camera_movements%></textarea>
 <input type="submit" value="Update">
</form>