<!--------------------------------------/-->
<!--EDIT 2. Camera Angles/-->
<!--------------------------------------/-->
<br>
<p>Please be considerate when making edits.</p>

<br><br>
<h2>Edit article</h2><br>
 <form action="/articles/camera_angles_edit" method="post" id="edit">
 <input type="hidden" name="_method" value="put">
 <textarea rows="20" cols="90" name="message"><%=@camera_angles%></textarea>
 <input type="submit" value="Update">
</form>