<!--------------------------------------/-->
<!--4. Effects/-->
<!--------------------------------------/-->
<br>
<h3>4. Effects</h3>

<img src="/images/shot_types/transparence.jpg" /><br>

<p><%=@effects%></p>

<p>Word count: <%=@effects_words%></p>
<p>Character count: <%=@effects_characters%></p>

<a href="/articles/effects_edit">Edit this article</a>