<!--------------------------------------/-->
<!--1. Shot Types/-->
<!--------------------------------------/-->
<br>
<h3>1. Shot Types</h3>
    
<img src="/images/shot_types/Close-up.jpg" /><br>

<p><%=@shot_types%></p>

<p>Word count: <%=@shot_types_words%></p>
<p>Character count: <%=@shot_types_characters%></p>

<a href="/articles/shot_types_edit">Edit this article</a>