<!--------------------------------------/-->
<!--EDIT 1. Shot Types/-->
<!--------------------------------------/-->
<br>
<p>Please be considerate when making edits.</p>

<br><br>
<h2>Edit article</h2><br>
 <form action="/articles/shot_types_edit" method="post" id="edit">
 <input type="hidden" name="_method" value="put">
 <textarea rows="20" cols="90" name="message"><%=@shot_types%></textarea>
 <input type="submit" value="Update">
</form>